* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #E3E7EA;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 86vh;
  background-image: url("https://jooinn.com/images/abstract-background-291.png");
  background-size: cover;
  background-position: center;
}

.add-edit-form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add-edit-drink-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 20px 10px;
  box-shadow: 5px 10px 8px #888888;
  background-color: #E3E7EA;
}

.add-edit-drink-form input {
  display: block;
  width: 100%;
  height: 25px;
}

.add-edit-drink-form label {
  width: 100%;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-edit-drink-form label:not(:first-of-type) {
  margin-top: 20px;
}

.add-edit-drink-form button {
  height: 25px;
  margin-top: 20px;
  background-color: #4584A4;
}

.error {
  color: red;
  font-weight: bold;
}

.table-container table, thead {
  width: 50vw;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.table-container th, td {
  padding: 15px;
}

#drinks-table-container table td:nth-child(7) {
  border-right: none;
}

#drinks-table-container table td:last-of-type {
  border-left: none;
}

.admin-btn-edit, .delete-btn, .view-order-btn {
  text-decoration: none;
  color: black;
  font: bold 14px Arial;
  background-color: #EFEFEF;
  border: 1px outset #767676;
  padding: 5px 10px;
}

#delete-btn {
  margin: 0;
}

.reg-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background-color: #E3E7EA;
  padding: 20px 10px;
  box-shadow: 5px 10px 8px #888888;
}

.reg-login-form input {
  display: block;
  width: 100%;
  height: 25px;
  border: 0;
  border-bottom: 1px solid grey;
  outline: none;
  background-color: #E3E7EA;
}

.reg-login-form label {
  width: 100%;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-login-form label:not(:first-of-type) {
  margin-top: 20px;
}

.reg-login-form button {
  width: 95%;
  height: 50px;
  margin-top: 20px;
  background-color: #4584A4;
  color: white;
}

.reg-login-form button:hover {
  background-color: #5390B0;
}

#admin-order-status {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#admin-order-status label {
  width: 100%;
  font-weight: bold;
}

#admin-order-status select {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 5px 15px 5px 5px;
}

#admin-order-status button {
  margin-top: 10px;
}

nav {
  background-color: #4584A4;
  height: 7vh;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .left-side {
  padding-left: 30px;
}

nav .right-side {
  padding-right: 30px;
}

nav li {
  margin-right: 10px;
  height: 100%;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 100%;
  font-weight: bold;
  padding: 0 5px;
}

nav a:hover {
  background-color: #5390B0;
}

.catalog {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.catalog .article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: calc(100% / 4 - 15px);
}

.catalog .article-container:not(:nth-child(4n)) {
  margin-right: 20px;
}

.catalog article {
  position: relative;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60vh;
  background-color: white;
  overflow: hidden;
}

.catalog article span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
}

.catalog article img {
  height: 80%;
}

.catalog .drink-info {
  width: 100%;
  text-align: center;
}

.catalog .drink-info p {
  margin: 0;
  font-weight: bold;
}

.catalog article .drink-info p:last-of-type {
  margin-bottom: 15px;
}

.catalog .add-to-cart {
  background-color: #4584A4;
  color: white;
  padding: 5px 20px;
}

.catalog .in-stock {
  font-weight: bold;
  margin: 15px 0 10px;
}

.buyer-info h3 {
  margin: 0;
}

.view-order p {
  margin: 0;
  font-weight: bold;
}

.view-order table {
  margin-bottom: 10px;
}

footer {
  background: #4584A4;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
}

.order-btn {
  margin-top: 15px;
  padding: 5px;
  font-weight: bold;
  background-color: forestgreen;
}

.delete-btn {
  background-color: indianred;
}

